.invite {
	z-index: 1001;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	position: absolute;

}

.popup {
	width: 270px;
	height: 130px;
	position: absolute;
	color: #000000;
	background-color: #ffffff;
	/* To align popup window at the center of screen*/
	top: 200px;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	border: 1px solid rgb(124, 153, 193);
}