.lobby-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #339966), color-stop(1, #339966) );
    background:-moz-linear-gradient(  #339966 5%, #339966 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#339966', endColorstr='#339966');
    background-color:#339966;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #268a16;
    display:inline-block;
    color:#1d1f1c;
    font-family:Arial Black;
    font-size:20px;
    font-style:normal;
    height: 40px;
    width: 50%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 22%;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 0px 0px #71ab3c;
    border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
}
.lobby-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #339966), color-stop(1, #339966) );
    background:-moz-linear-gradient(  #339966 5%, #339966 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#339966', endColorstr='#339966');
    background-color:#339966;
}.lobby-button:active {
     position:relative;
     margin-top:20%;
     margin-left: 22%
 }