/* main styles */

.header {
	display: block;
	float: left; /* for setting all div's in line*/
	width: 100%;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.container_main {
	display: block;
	float: left; /* for setting all div's in line*/
	width: 100%;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.left_column, .right_column {
	display: block;
	float: left; /* for setting all div's in line*/
	width: 20%;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.columns_play_game {
	display: block;
	float: left; /* for setting all div's in line*/
	width: 0%;
	background: #fff;
}

.main_play_game {
	display: block;
	float: left; /* for setting all div's in line*/
	width: 100%;
	padding: 20px;
	background: #fff;
}

.main_div {
	display: block;
	float: left; /* for setting all div's in line*/
	width: 60%;
	padding: 20px;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.footer {
	display: block;
	bottom: 0;
	position: fixed;
	width: 100%;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-align: center;
}

/* another styles */
#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	text-align: center;
}

#signUp-box {
	display: inline-block;
	width: 315px;
	height: 420px;
	overflow-y: scroll;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	text-align: center;
}

#personalDataLblDiv {
	display: inline-block;
}

#userProfileAvatarDiv {
	display: inline-block;
	float: right;
	margin-top: 20px;
}

#userProfileAvatarImg {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}

/* Avatar image */
#avatarImg {
	display: inline-block;
	vertical-align: top;
	margin-top: 2%;
	width: 100px;
	height: 100px;
	border-radius: 10px;
}

#imgInp {
	visibility: hidden;
}

#avatarHiddenImg{
	visibility: hidden;
}

/* create game style */
#create-game {
	width: 500px;
	padding: 20px;
	margin: 60px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-align: center;
}

/* chat */
.received {
	width: 250px;
	font-size: 14px;
	font-weight: bold;
}

.users {
	width: 250px;
	font-weight: bold;
	font-size: 22px;
	color: blue;
}

/*Artur Yakubenko 14.09.15*/
.statistic-btn{
	right: 0;
	float:left;
	vertical-align:bottom;
	cursor:pointer;
	color:black;
	text-decoration:underline;
}
/*Artur Yakubenko 14.09.15*/

/* login-page */
.error {
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.checkEmailNotification {
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	color: rgb(255, 0, 0);
	background-color: rgba(0, 255, 0, 0.5);
	border-color: rgba(0, 255, 0, 0.5);
}

/* play game */
.card-count {
	background-color: #faebcc;
	width: 1em;
	padding: 4px;
	font-size: 1.5em;
	display: inline-table;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

/* play game */
.error_message {
	color: #ff0000;
	font-weight: bold;
}