body {
    margin:0px;
    background-image:none;
    position:static;
    left:auto;
    width:100%;
    height: 100%;
}

/* BUTTON */
.cancelBtn {
    margin-top: 20px;
    height: 30px;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 20px;
    outline: 0;
    background-color: #90a2f8;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.cancelBtn:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.col-lg-4 {
    background: burlywood;
}
.col-lg-3 {
    background: #ffffff;
}
.col-lg-5 {
    background: #f5f5f5;
}

/* Header part */
.head-block {
    background: gainsboro;
    height: 80px;
    width: 100%;
}

/* Content part*/
.playerCardsStars {
    margin-top: 10px;
    background-color: #E3E3E3;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: auto;
}
.playerCardsStars p {
    text-align: left;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    font: bold;
}
.playerCardsStars table {
    border-collapse: separate;
    border-color: #000000;
    border-spacing: 3px 3px;
}
.playerCardsStars table td {
    text-align: center;
    padding: 3px;
    /*border: 1px solid #000000;
    border-radius: 5px;*/
    height: auto;
    width: 58px;
}

.playersInRoom {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #656565;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 40%;
}

.playersInRoom p {
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #f5f5f5;
    font: bold;
}

.playersInRoom table {
    background-color: #cbcbcb;
}

.playersInRoom table td {
    text-align: center;
    padding: 2px;
    height: 10px;
    width: 100%;
}
.playersInRoom table.playerState {
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
}

.playersInRoom table.playerState table {
    text-align: center;
}
.duelBtn {
    height: 30px;
    width: 40px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 30px;
    outline: 0;
    background-color: #90a2f8;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.duelBtn:active {
    color: red;
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

/*STYLE FOR MODAL*/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


.challenged {
    background-color: #ff6633;
}

.challenging {
    background-color: #009933;
}

.desksInRoom p {
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #f5f5f5;
    font: bold;
}

.desksInRoom table {
    border-collapse: separate;
    border-spacing: 8px 8px;
}
.footer-block {
    background: gainsboro;
    height: 80px;
    width: 100%;
}