.mySide {
    margin-top: 10px;
}
.mySide p {
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    font: bold;
}

/* Разметка поля Мои Звезды */
.myStars {
    margin-top: 10px;
    background-color: #E3E3E3;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: auto;
}
.myStars p {
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 16px;
    font-style: italic;
    font: bold;
}
/* Разметка поля Мои карты*/
.myCards p {
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 16px;
    font-style: italic;
    font: bold;
}
.myCards {
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #E3E3E3;
    border-radius: 10px 10px 10px 10px;
    width: auto;
    height: auto;
}
.myCards table {
    border-collapse: separate;
    border-color: #000000;
    border-spacing: 3px 3px;
}
.myCards table td {
    text-align: center;
    padding: 2px;
    /*border: 1px solid #000000;
    border-radius: 5px;*/
    height: auto;
    width: 50%;
}

/* Разметка поля STAKE для звезд игроков*/
.duelStake p {
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 26px;
    font-style: italic;
    font: bold;
}
.duelStake {
    background-color: #fea967;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px 10px 10px 10px;
    width: auto;
    height: auto;
}
.duelStake table {
    border-collapse: separate;
    border-color: #000000;
    border-spacing: 3px 3px;
}
.duelStake table td {
    text-align: center;
    padding: 3px;
    height: auto;
    width: 100%;
}

/* Разметка Стола и таблицы с 2мя колонками для карт! */
.duelDesk {
    background-image: url("../../img/duel_page/duelDesk.png");
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 457px;
    height: 367px;
}
.duelDesk table {
    border-collapse: separate;
    border-color: #000000;
    border-spacing: 10px;
    padding-left: 17%;
    padding-top: 13%;
}
.duelDesk table td {
    text-align: center;
    padding: 3px;
    border: 1px solid #000000;
    height: 225px;
    width: 132px;
    border-radius: 10px 10px 10px 10px;
}

/* Разметка для Врага*/
.enemySide {
    margin-top: 10px;
}
.enemySide p {
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    font: bold;
}

.enemyStars {
    margin-top: 10px;
    background-color: #E3E3E3;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: auto;
}
.enemyStars p {
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 16px;
    font-style: italic;
    font: bold;
}



