/* Общие свойства страницы*/
body {
    margin:0px;
    background-image:none;
    position:static;
    left:auto;
    width:100%;
    height: 100%;
    margin-left:0;
    margin-right:0;
    text-align:left;
}
/* Эти просто чтобы выделить цветом части (header, body, footer..)*/
.col-lg-12 {
    background: gainsboro;
}
.col-lg-12 {
    background: gainsboro;
}
.col-lg-7 {
    background: #9eb9c2;
}
/* Это я написал кнопку. Задал все ее характеристики.*/
.createSubmit {
    margin-top: 20px;  /* отступ сверху */
    height: 40px;      /* высота кнопки */
    width: 140px;      /* ширина кнопки */
    font-size: 16px;   /* размер шрифта в ней */
    font-weight: bold;  /* шрифт жирный */
    color: #ffffff;      /* цвет текста */
    background: #cde5ef;
    border: 1px solid;  /* обрамление */
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 20px;  /* делаем края кнопки округленными*/
    outline: 0;           /* не помню что это )) */
    background-color: #90a2f8;   /* для разных браузеров */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.createSubmit:active {   /* при нажатии кнопки - свойства*/
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

/* Header part *//* *//* Здесь идут части тела html - header, content, footer *//*
.head-block {
    height: 80px;
    width: 100%;
}*/
.logAs {
    margin-top: 25px;
    margin-right: 5px;
    display: block;
    float: right;
    font: 18px bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Content part*/
.ships {
    margin-top: 10px;
    background-color:#E3E3E3;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: auto;
}
.ships p {
    text-align: center;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    font: bold;
}
.ships table {
    border-collapse: separate;
    border-color: #000000;
    border-spacing: 3px 3px;
}

.ships table th {
    height: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    text-shadow: #337ab7;
}
.ships table td {
    padding: 5px;
    /*border: 1px solid #000000;*/
    border-radius: 5px;
    /*background-image: url("../img/ship_img.png");*/
    height: 100px;
    width: 120px;
}
.joinSubmit {   /* еще одна кнопка. такая же только меньшего размера. */
    margin-top: 10px;
    width: 105px;
    height: 25px;
    font-weight: bold;
    color: #ffffff;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 10px;
    outline: 0;
    background-color: #90a2f8;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.joinSubmit:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.chat {
    margin: 10px;
}

/* Footer part */  /*Подвал*/
.footer-block {
    margin-top: 10px; /* отступ от Контента*/
    height: 80px;  /* высота*/
    width: 100%;   /* растягиваем на всю ширину*/
}