.head-block{
 height:100px;
 width:100%;
 background:none repeat scroll 0% 0% #DCDCDC;
}
.username-text{
  position: absolute;
  right: 17%;
  bottom: 27px;
  font-size: xx-large;
  font-family:'Franklin Gothic Bold', 'Franklin Gothic';
}

.u-btn-logout {
  position:absolute;
  width:11%;
  left:85%;
  font-family:'Franklin Gothic Bold', 'Franklin Gothic';
}
.u-btn-main {
  position:absolute;
  left:1%;
  top:22%;
  font-family:'Franklin Gothic Bold', 'Franklin Gothic';
}

.u-btn-signup {
  position:absolute;
  left:59%;
  font-family:'Franklin Gothic Bold', 'Franklin Gothic';
}

.u-btn-MANUAL {
  position:absolute;
  left:15%;
  font-family:'Franklin Gothic Bold', 'Franklin Gothic';
}
.u-btn-train {
  position:absolute;
  left:32%;
  font-family:'Franklin Gothic Bold', 'Franklin Gothic';
}

.u-btn-rules {
  position:absolute;
  left:45.5%;
  font-family:'Franklin Gothic Bold', 'Franklin Gothic';
}
.u-img-password {
  position:absolute;
  left:79%;
  top:44%;
  width:57px;
  height:29px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:20px;
}
.u-img-username {
  position:absolute;
  left:79%;
  top:19%;
  width:57px;
  height:29px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:20px;
}
.center-img{
  width:100%;
  height:35%;
  margin-top:4%;
  border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:5px;
  -khtml-border-radius:10px;
}

.form-container {
margin-top:4%;
  width:98%;
  height:30%;
  background:none repeat scroll 0% 0% #DCDCDC;
  	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:5px;
	-khtml-border-radius:10px;
}
.input-username {
  position:absolute;
  margin-left:4%;
  top:20%;
  width:80%;
  height:41px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:ghostwhite;
  outline-style:none;
}

.input-password {
  position:absolute;
  margin-left:4%;
  top:45%;
  width:80%;
  height:41px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:ghostwhite;
  outline-style:none;
}
.u-btn-login {
  position:absolute;
  left:37%;
  top:70%;
  width:20%;
  height:41px;
  font-family:'Franklin Gothic Bold', 'Franklin Gothic';
}
.about-develop-btn{
    right: 0;
	float:right;
	vertical-align:bottom;
	cursor:pointer;
	color:black;
	text-decoration:underline;
}
.lang-change{
  right: 0;
  float:left;
  vertical-align:bottom;
  cursor:pointer;
  color:black;
  text-decoration:underline;
}
.side-img{
	width:-moz-available;
    width: 100%;
	height:70%;
}
.top-menu-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #339966), color-stop(1, #339966) );
  background:-moz-linear-gradient(  #339966 5%, #339966 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#339966', endColorstr='#339966');
  background-color:#339966;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #268a16;
  display:inline-block;
  color:#1d1f1c;
  font-family:Arial Black;
  font-size:20px;
  font-style:normal;
  height: 40px;
  top: 30px;
  width: 8%;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 0px 0px #71ab3c;
  border-radius:6px;
  -moz-border-radius:5px;
  -khtml-border-radius:10px;
}
.top-menu-button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #339966), color-stop(1, #339966) );
  background:-moz-linear-gradient(  #339966 5%, #339966 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#339966', endColorstr='#339966');
  background-color:#339966;
}.top-menu-button:active {
   position:relative;
   top:31px;
 }